In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from hmmlearn import hmm
from sklearn.metrics import confusion_matrix
from sklearn.mixture import GaussianMixture
from sklearn.cluster import KMeans
import os
import nltk
import warnings

warnings.filterwarnings("ignore")

In [3]:
# load data
df = pd.read_csv('archive/utterances-2sp.csv')

In [7]:
def episode_with_most_utterances(df):
    """
    Identifies the episode with the most rows (utterances).

    Parameters:
    df (pd.DataFrame): DataFrame containing the columns:
                       'episode', 'episode_order', 'turn_order',
                       'speaker_order', 'host_id', 'is_host', 'utterance'

    Returns:
    str: The episode identifier with the most utterances.
    """
    # Group by 'episode', count the rows in each group, then find the episode with the maximum count
    episode_counts = df.groupby('episode').size()
    max_utterances_episode = episode_counts.idxmax()
    
    return max_utterances_episode

largest_idx = episode_with_most_utterances(df)

In [8]:
# get the largest episode, column "episode" with index largest_idx
largest_episode = df[df['episode'] == largest_idx]

In [9]:
largest_episode

,episode,episode_order,turn_order,speaker_order,host_id,is_host,utterance
509726,67407,1,0,0,15,True,Our next guest has made her name and built her...
509727,67407,1,0,0,15,True,Our next guest has made her name and built her...
509728,67407,1,0,0,15,True,Our next guest has made her name and built her...
509729,67407,1,1,0,15,True,She won the Grammy in 2015 for Best Alternativ...
509730,67407,1,1,0,15,True,She won the Grammy in 2015 for Best Alternativ...
...,...,...,...,...,...,...,...
510102,67407,62,0,1,-1,False,Thank you.
510103,67407,62,0,1,-1,False,Thank you.
510104,67407,62,1,1,-1,False,I love you guys so much.
510105,67407,62,1,1,-1,False,I love you guys so much.
510106,67407,62,1,1,-1,False,I love you guys so much.